html,body{
	height: 100%;
	margin: 0;
	padding: 0;
  overflow: hidden;
  position: relative;
}

*{
  -webkit-tap-highlight-color: transparent;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

section{
  position: fixed;
  top: 0;
	width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate3d(0, 2000px, 0);
  transition: transform 500ms ease-out;
}

section.cover{
  display: block;
  z-index: 10;
  transform: translate3d(0, 0, 0);
}

section.--show{
  transform: translate3d(0, 0, 0);
}

img{
	width: 100%;
}

input{
  margin: 0;
  padding: 0;
}

.bg{
  background-size: cover;
  background-position:center;
  background-image: url(https://chi-2018.oss-cn-hangzhou.aliyuncs.com/04-22/bg-2.jpg);
}

.confirm{
  position: absolute;
  left: 50%;
  width: 80px;
  padding: 10px 20px;
  transform: translateX(-50%);
}

.button-group{
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  width: 180px;
  transform: translateX(-50%);
}

.button-group img {
  display: inline-block;
  width: 80px;
}

